
<div class="container my-5">
  <div class="row">
    <div class="col-12">
      <h3>Inscripción al servicio</h3>
      <p>Ingrese el NIT de la persona natural o juridica para la que realiza el tramite sin incluir el digito de
        verificación. Luego seleccione <strong>Continuar</strong> para completar su solicitud</p>
    </div>
    <div class="col-12">
      <input #inputSearch class="form-control" type="text" placeholder="9003238537" aria-label="search-nit">
    </div>
    <div class="col-6 mt-4">
      <div class="d-grid gap-2">
        <button class="btn btn-danger" type="button" (click)="searched()">Continuar</button>
      </div>
    </div>
    <div class="col-6 mt-4">
      <div class="d-grid gap-2">
        <button class="btn btn-dark" type="button">Regresar</button>
      </div>
    </div>
  </div>
</div>
