<ng-template #search>
  <app-search-company
    (dataCompanyEvent) ="dataCompanyEvent($event)"
  ></app-search-company>
</ng-template>

<div class="container my-5" *ngIf="company else search">
  <div class="row">
    <div class="col-12">
      <h3 class="border-bottom pb-4">Datos de la persona natural o jurídica que solicita el servicio de trámites
        virtual:</h3>
      <div class="mt-4 bg-celeste px-4">
        <p class="pt-3 mb-0">La empresa se encuentra registrada en la Camara de Comercio de Medellín para Antioquia.
          Para
          acceder al
          servicio de Trámites virtuales se utilizarán los datos reportados en el registro.</p>
        <p class="pb-3">Los campos marcados con (*) son obligatorios.</p>
      </div>
    </div>
    <div class="col-12">
      <form [formGroup]="reactiveFormCompany">
        <!-- INPUT FORM -->
        <div class="row">
          <div class="col-6">
            <label class="form-label">Naturaleza *</label>
            <select class="form-select" aria-label="select nature" formControlName="idType">
              <option value="1" selected>Persona Jurídica</option>
              <option value="2">NIT</option>
              <option value="3">Identificación extranjera</option>
              <option value="4">Cedula</option>
            </select>
          </div>
          <div class="col-6">
            <div class="mb-3">
              <label for="number-ID" class="form-label">Número de identificación *</label>
              <input type="number" class="form-control" id="number-ID" formControlName="nit">
            </div>
          </div>
          <div class="col-12 mt-3">
            <div class="mb-3">
              <label for="name-social" class="form-label">Nombre / Razón social *</label>
              <input type="text" class="form-control" id="name-social" formControlName="nameCompany">
            </div>
          </div>
          <div class="col-6">
            <div class="mb-3">
              <label for="first-name" class="form-label">Nombre *</label>
              <input type="text" class="form-control" id="first-name" formControlName="firstName">
            </div>
          </div>
          <div class="col-6">
            <div class="mb-3">
              <label for="second-name" class="form-label">Segundo Nombre</label>
              <input type="text" class="form-control" id="second-name" formControlName="secondName">
            </div>
          </div>
          <div class="col-6">
            <div class="mb-3">
              <label for="first-lastname" class="form-label">Primer Apellido *</label>
              <input type="text" class="form-control" id="first-lastname" formControlName="firstLastName">
            </div>
          </div>
          <div class="col-6">
            <div class="mb-3">
              <label for="second-lastname" class="form-label">Segundo Apellido</label>
              <input type="text" class="form-control" id="second-lastname" formControlName="secondLastName">
            </div>
          </div>
          <div class="col-6">
            <div class="mb-3">
              <label for="authorizeEmail" class="form-label">Autorizo el envío de mensajes a la siguiente dirección de correo electrónico</label>
              <input type="email" class="form-control" id="authorizeEmail" formControlName="email">
            </div>
          </div>
          <div class="col-6">
            <div class="form-check mt-1">
              <input class="form-check-input" type="checkbox" value="" id="authorizePhone" formControlName="authorizeSendMessagePhone">
              <label class="form-check-label" for="authorizePhone">
                Autorizo el envío de mensajes al celular provisto
              </label>
            </div>
          </div>
        </div>
        <!-- INPUT FORM -->

        <!-- BUTTONS FORM -->
        <div class="row">
          <div class="col-6 mt-4">
            <div class="d-grid gap-2">
              <button class="btn btn-danger" type="button" (click)="registerCompany()">Continuar</button>
            </div>
          </div>
          <div class="col-6 mt-4">
            <div class="d-grid gap-2">
              <button class="btn btn-dark" type="button">Regresar</button>
            </div>
          </div>
        </div>
        <!-- BUTTONS FORM -->
      </form>
    </div>
  </div>
</div>
